.Body {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;

    .FilterSideBar {
        width: 250px;
        flex-shrink: 0; // Prevents the FilterSideBar from shrinking
    }
    .ProductList {
        flex-grow: 1;
    }
}

