.FilterSideBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; // adjust this to whatever width you want for the sidebar
    height: 90vh; // makes it fill the full height of the viewport
    padding: 1rem;
    padding-top: 8rem;
    // background-color: #f7f7f7; // light gray, but you can change this
    border-right: 1px solid #ddd; // a light border on the right to distinguish it from the content
    overflow-y: auto; // to allow scrolling if the content exceeds the viewport height

    h1, h2 {
        margin-top: 0; // remove default margins
        margin-bottom: 0.5rem; // add a consistent bottom margin
        color: #333; // dark text color
    }

    label {
        display: block; // stack the checkboxes vertically
        margin-bottom: 0.5rem; // space between each checkbox
        cursor: pointer; // indicate it's clickable
    }

    input[type="checkbox"] {
        margin-right: 0.5rem; // space between checkbox and label
    }

    div {
        margin-bottom: 1.5rem; // space between sections (Brands, Price, Ratings)
    }
}
