div {
    margin-bottom: 2rem;
    width: 100%;
}
div input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    width: 550px;
}
div button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-left: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

div button:hover {
    background-color: #0056b3;
}
.nav {
    display: flex;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.imgdiv{
    width: 15%;
}
.nav .imgdiv {
    position: absolute;
    right: 30px;
    top: 7%;
}
.nav .imgdiv img:focus {
    outline: none; /* Remove blue outline when the image is clicked or focused */
}
html, body {
    margin: 0;
    padding: 0;
}
